__pycache__/
.vscode
.hypothesis/
.pytest_cache/
.coverage
data/
results/
.idea/*
.metaflow/
.mlrun/
test_id
.databrickscfg
*.log
cov.xml
*cache/*
*checkmarx/*
prep/*
results*
conf/cpu/*
conf/gpu/*
